.container .box .result {
  position: relative;
  display: flex;
  gap: 20px 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 430px;
  height: 620px;
}

.container .box .result h2 {
  margin-top: 50px;
  font-size: 2rem;
  letter-spacing: 2px;
  background: rgba(255, 255, 255, 0.35);
  padding: 5px 30px;
  border-radius: 10px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.06),
    -5px -5px 20px rgba(0, 0, 0, 0.08);
}

.container .box .result .show {
  border-radius: 10px;
  overflow: auto;
}

.container .box .result .show::-webkit-scrollbar {
  width: 1px;
}

.container .box .result .show table {
  width: 300px;
  background: rgba(255, 255, 255, 0.5);
  padding: 3px 3px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.06),
    -5px -5px 20px rgba(0, 0, 0, 0.08);
}

.container .box .result .show table thead {
  font-size: 1rem;
  height: 10px;
}

.container .box .result .show table thead tr th {
  letter-spacing: 5px;
  border-radius: 5px 5px 0 0;
  border: 1px solid rgba(255, 255, 255, 0.5);
  font-size: 1.3rem;
  height: 10px;
}

.container .box .result .show table tbody tr td {
  font-size: 1rem;
  text-overflow: ellipsis;
  border: 1px solid rgba(255, 255, 255, 0.5);
  max-width: 10px;
  max-height: 30px;
}

.container .box .result .show table tbody tr td:last-child {
  text-align: center;
  width: 39%;
}

.container .box .result .back a {
  text-decoration: none;
  color: #000;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.35);
  padding: 8px 30px;
  border-radius: 10px;
  list-style: none;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.06),
    -5px -5px 20px rgba(0, 0, 0, 0.08);
  cursor: pointer;
}
